<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessLayer.Properties.Settings.TravelExpertsConnectionString"
            connectionString="Data Source=laptop-kusln0cd\sqlexpress;Initial Catalog=TravelExperts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>